extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/admin-dashboard.css")
    link(rel="stylesheet", href="/css/classes-view.css")

block content
    .cards-view 
        a.card.blue(href="/dashboard/users")
            i.fa.fa-user 
            h1.number= users.length
            .progress-bar
                .passed(style="width: #{users.length > 100? 100 : users.length}%")
            h1.title کاربران
        a.card.orange(href="#")
            i.fa.fa-dollar
            h1.number= classes.length
            .progress-bar
                .passed(style="width: #{classes.length > 100? 100 : classes.length}%")
            h1.title کلاس‌ها
        a.card.green(href="#")
            i.fa.fa-credit-card
            h1.number= numberOfDecks
            .progress-bar
                .passed(style="width: #{numberOfDecks > 100? 100 : numberOfDecks}%")
            h1.title دسته‌ها
        a.card.red(href="#")
            i.fa.fa-graduation-cap
            h1.number= numberOfFlashcards
            .progress-bar
                .passed(style="width: #{numberOfFlashcards > 100? 100 : numberOfFlashcards}%")
            h1.title فلشکارت‌ها
    
    //- .charts-view 
    //-     .chart1 
    //-         #chart1
    //-     .chart2
    //-         #chart2
    //-         a(href="#") 
    //-             i.fa.fa-address-card
    //-             | مشاهده کارت‌ها
    .classes-list 
        -for(var i=0; i<classes.length; i++){
            a.class(href="/class-view?classID=#{classes[i]._id}") 
                i.fa.icon(class="#{classes[i].icon}")
                .info 
                    h1= classes[i].title
                    p #{classes[i].decks.length} دسته کارت
        -}
    
    script(src="/js/admin-dashboard.js") 


