extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/users-view.css")
    link(rel="stylesheet", href="/css/components/login.css")

block content
    .title-view 
        h1 کاربران
        h2 201 user, 5 admin
    .content-view 
        .users-view 
            table 
                tr 
                    th کاربر
                    th نقش
                    th کلاس‌ها
                    th 
                    th 
                -for(var i=0; i<users.length; i++){
                    tr 
                        td.user 
                            h1= users[i].fullname
                            h2= users[i].phone
                        td.role 
                            -if(users[i].role == 'user')
                                a.role-user(href="/dashboard/make-admin?userID=#{users[i]._id}")  user 
                            -if(users[i].role == 'admin')
                                a.role-admin(href="/dashboard/make-user?userID=#{users[i]._id}") admin 
                            
                        td.acounts 
                            h1 5 کلاس
                            h2 #{users[i].classesID.length} دسته کارت در حال مطالعه
                        td
                            a.edit(href="/dashboard/user-view?userID=#{users[i]._id}") 
                                i.fa.fa-eye 
                        td
                            a.trash(href="/dashboard/delete-user?userID=#{users[i]._id}") 
                                i.fa.fa-trash 
                -}
        .user-control 
            .control 
                .search-view
                    input(type="text" placeholder="جستجو")
                    button
                        i.fa.fa-search
                a.add-user#add-user-btn
                    i.fa.fa-plus 
                    | افزودن کاربر

    include ../components/add-user
    script(src="/js/users-view.js") 


