extends deck-layout

block styles
    link(rel="stylesheet", href="/css/dashboard/deck-view.css")

block content
    h1.deck-title دسته: 
        .bold #{deck.title} 
        | فلشکارت: 
        .bold 
            #card-number 1
            | /#{cards.length} 
    -if(cards.length == 0){
        .finish-studing 
            h1 کارتی جهت نمایش وجود ندارد
            a(href="/dashboard/class-view?classID=#{cls._id}") بازگشت به کلاس
    -}else if(questionNum < cards.length){
        .card-area 
            .flashcard#question
                -if(cards[questionNum].type == 'text')
                    .text= cards[questionNum].question
                -else if(cards[questionNum].type == 'picture')
                    img(src="#{cards[questionNum].question}")
                i.fa.fa-pencil.edit
                .card-title Q
            .flashcard#answer
                -if(cards[questionNum].type == 'text')
                    .text= cards[questionNum].answer
                -else if(cards[questionNum].type == 'picture')
                    img(src="#{cards[questionNum].answer}")
                i.fa.fa-pencil.edit
                .card-title A
            
            
            button#reveal-ans مشاهده پاسخ
            #score-btn.hidden 
                .text چقدر این کارت را بلد بودید؟
                .buttons
                    a.score#score1(href="/dashboard/score-card?classID=#{cls._id}&deckIndex=#{deckIndex}&questionNum=#{questionNum}&score=1") 1
                        .label اصلا بلد نبودم
                    a.score#score2(href="/dashboard/score-card?classID=#{cls._id}&deckIndex=#{deckIndex}&questionNum=#{questionNum}&score=2") 2
                    a.score#score3(href="/dashboard/score-card?classID=#{cls._id}&deckIndex=#{deckIndex}&questionNum=#{questionNum}&score=3") 3
                    a.score#score4(href="/dashboard/score-card?classID=#{cls._id}&deckIndex=#{deckIndex}&questionNum=#{questionNum}&score=4") 4
                    a.score#score5(href="/dashboard/score-card?classID=#{cls._id}&deckIndex=#{deckIndex}&questionNum=#{questionNum}&score=5") 5
                        .label خیلی خوب
    -}else{
        .finish-studing 
            h1 اتمام مطالعه کارت ها
            a(href="/dashboard/class-view?classID=#{cls._id}") بازگشت به کلاس
    -}
    script(src="/js/deck-view.js") 
