extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/edit-deck.css")

block content
    .edit-deck 
        h1.title فلشکارت های دسته #{deck.title}
        form.flashcards(action="/dashboard/save-deck" method="POST") 
            input.hidden(type="text" name="classID" value="#{cls._id}")
            input.hidden(type="text" name="deckIndex" value="#{deckIndex}")
            table#cards-table 
                tr
                    th #
                    th سوال
                    th پاسخ
                    th 
                -if(deck.question){
                    -for(var i=0; i<deck.question.length; i++){
                        tr
                            input.hidden(type="text" name="type" value="text")
                            td 1
                            td  
                                textarea(name="question" placeholder="سوال...")= deck.question[i]
                            td  
                                textarea(name="answer" placeholder="پاسخ...")= deck.answer[i]
                            td 
                                i.fa.fa-times.delete.delete-card
                    -}
                -}
                tr#card.hidden  
                    input.hidden(type="text" name="type" value="text")
                    td 1
                    td  
                        textarea(name="question" placeholder="سوال...")
                    td  
                        textarea(name="answer" placeholder="پاسخ...")
                    td 
                        i.fa.fa-times.delete.delete-card
            #add-flashcard 
                i.fa.fa-plus 
                | افزودن فلشکارت
            button.submit(type="submit")
                i.fa.fa-save 
                | ذخیره
            a.return-btn(href="/dashboard/class-view?classID=#{classID}") بازگشت
                i.fa.fa-chevron-left
    script(src="/js/edit-deck.js") 
