doctype html

html
    head
        title Cartan
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        script(src="https://www.gstatic.com/charts/loader.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- meta(name="theme-color" content="#050507")
        //- script(src="/js/index.js")
        link(rel="stylesheet", href="/css/dashboard/dashboard-layout.css")
        block styles
    body
        .black-modal
        .transparent-modal
        
        include ../components/add-class
        include ../components/setting
        .dashboard
            .side-bar 
                a.settings(href="#") 
                    i.fa.fa-gear#setting-btn 
                a.logo(href="/") 
                    img(src="/img/logo.png")
                a(href="/dashboard") 
                    .user-info
                        img.avatar(src="/img/avatar/10.png")
                        h1.name= user.fullname
                        .statistics 3 کارت مطالعه شده - 1 دسته ساخته شده
                .scroll-view 
                    -if(user.role == 'user'){
                        .list 
                            h1.title همه کلاس ها (3)
                            a.search(href="/search") 
                                i.fa.fa-search
                            i.fa.fa-plus.plus#add-class-btn
                            -for(var i=0; i<classesID.length && i<5; i++){
                                -var active = '';
                                -if(cls && cls._id.toString() == classesID[i]) active = 'active';
                                a(href="/dashboard/class-view?classID=#{classes[classesID[i]]._id}") 
                                    .list-content(class="#{active}")
                                        .active-bar
                                        i.fa.icon(class="#{classes[classesID[i]].icon}")
                                        .info 
                                            h1= classes[classesID[i]].title
                                            .progress-bar
                                                .passed(style="width: #{classes[classesID[i]].decks.length > 0 ? classes[classesID[i]].decks.reduce((a, b) => a.percent+b.percent) : 0}%")
                                        a(href="/dashboard/remove-class?classID=#{classes[classesID[i]]._id}") 
                                            i.fa.fa-trash.delete
                            -}
                            a.link#add-class-btn2
                                i.fa.fa-plus 
                                .text ساخت کلاس جدید
                            a.link(href="/search") 
                                i.fa.fa-search
                                .text یافتن فلشکارت
                    -}else if(user.role == 'admin'){
                        .list 
                            h1.title همه کلاس ها (3)
                            a.search(href="/search") 
                                i.fa.fa-search
                            i.fa.fa-plus.plus#add-class-btn
                            -for(var i=0; i<classes.length && i<5; i++){
                                -var active = '';
                                -if(cls && cls._id.toString() == classes[i]._id.toString()) active = 'active';
                                a(href="/dashboard/class-view?classID=#{classes[i]._id}") 
                                    .list-content(class="#{active}")
                                        .active-bar
                                        i.fa.icon(class="#{classes[i].icon}")
                                        .info 
                                            h1= classes[i].title
                                            .progress-bar
                                                .passed(style="width: 20%")
                                        a(href="/dashboard/remove-class?classID=#{classes[i]._id}") 
                                            i.fa.fa-trash.delete
                            -}
                            a.link#add-class-btn2
                                i.fa.fa-plus 
                                .text ساخت کلاس جدید
                            a.link(href="/search") 
                                i.fa.fa-search
                                .text یافتن فلشکارت
                    -}
                -if(user.role == 'user' && user.planType == 'free')
                    a.upgrade(href="/pricing")  ارتقاء به پنل حرفه‌ای
            .content-area
                .message-area
                    -if(login){
                        .success-msg
                            i.fa.fa-times.close-success-msg
                            ul 
                                li به پنل کاربری خود خوش آمدید
                    -}
                    -if(false){
                        .notif-msg
                            i.fa.fa-times.close-notif-msg
                            ul 
                                li شما n صورت حساب پرداخت نشده دارید. جهت پرداخت صورت حساب خود 
                                    a(href="#") اینجا 
                                    | را کلیک کنید.
                    -}
                block content
        script(src="/js/dashboard-layout.js") 