extends layout
block styles
    link(rel="stylesheet", href="/css/pricing.css")

block content
    .pricing-content
        h1.title سریع تر یاد بگیرید
        p.text این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. این یک متن آزمایشی جهت نمایش در این قسمت بوده و بعدا قابل تغییر است. 
        .cards-view
            a.card(href="/payment/pay?planType=month") 
                h1 ماهیانه
                .price= dateConvert.showPrice(Math.floor(prices.month/10))
                    .currency تومان 
                p #{dateConvert.showPrice(Math.floor(prices.month/10))} تومان هر 1 ماه
                .upgrade ارتقا به پنل حرفه ای
            a.card(href="/payment/pay?planType=semester") 
                h1 ترمی
                .price= dateConvert.showPrice(Math.floor(prices.semester/10))
                    .currency تومان 
                p #{dateConvert.showPrice(Math.floor(prices.semester/10))} تومان هر 6 ماه
                .upgrade ارتقا به پنل حرفه ای
            a.card(href="/payment/pay?planType=year") 
                h1 سالیانه
                .price= dateConvert.showPrice(Math.floor(prices.year/10))
                    .currency تومان 
                p #{dateConvert.showPrice(Math.floor(prices.year/10))} تومان هر 12 ماه
                .upgrade ارتقا به پنل حرفه ای
            a.card(href="/payment/pay?planType=forever") 
                h1 همیشگی
                .price= dateConvert.showPrice(Math.floor(prices.forever/10))
                    .currency تومان 
                p یک بار پرداخت
                .upgrade ارتقا به پنل حرفه ای
        h1.title قابلیت های نسخه حرفه ای
        .features-view
            ul.column 
                li کارت های نامحدود
                li آپلود عکس و صدا
                li کپی کردن فلشکارت‌ها
            ul.column 
                li نشانه گذاری فلشکارت‌ها
                li کلاس خصوصی تعریف کنید
                li مشاهده وضعیت دانش آموزان
            
                
    script(src="/js/users.js")